{include file="public/header" /}
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add" method="post" action="{:url('category/save')}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="cateName" name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
            <div class="formControls col-xs-8 col-sm-9">
                    <select class="select" name="parent_id" size="1" style="height: 33px;">
                        <option value="0">一级栏目</option>
                        {volist name="cateList" id="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                        {/volist}
                    </select>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i>保存</button>
                <button class="btn btn-default radius" type="button">取消</button>
            </div>
        </div>
    </form>
</article>
{include file="public/footer" /}